<h1>New Band</h1>

<% if flash[:errors] %>
<% flash[:errors].each do |error| %>
 <%= error %> <br>
<% end end%>

<form action = "<%= bands_url %>" method = "POST">
  <label for = "band_name">Band Name</label>
  <input id = "band_name" name = "band[name]" value = "<%= @band.name %>"> <br>
  <input type = "submit" value = "Create Band">
<form>